* {
    margin: 0;
    padding: 0;
}
.navbar-logo{
    width: 250px;
}
.first{
    width: 500px;
}
.secound{
    width:100%;
    padding: 90px;
    text-align: justify;
}
#about1{
    color: #fa8655;
    font-size: 60px;
}
#about2{
    color: r#363958;
    font-size: 60px;
}
.text{
    margin-bottom: 40px;
}
.button{
    text-decoration: none;
    background-image:linear-gradient(180deg,#3c4eef, #1dd0d9);
    padding: 20px 30px;
    color: aliceblue;
    border-radius: 10px;
}
.icon{
    width: 5px;
}
.back{
    background-color: #fff9f4;
}
.third-first{
    text-align: left;
    margin: 50px;
    color: #363958;
}
h5{
    text-align: justify;
    font-size: 30px;
}
.card-img-top{
    width: 400px;
    height: 450px;
}
.price{
    color: #fa804c;
}.card-text{
    text-align: justify;
}
.card-title{
    color: #363958;
}
.img{
    width: 600px;
    margin-left: 70px;
    margin-top:50px ;
}
.last-img{
    width: 90px;
}
.last-part{
    margin-top: 80px;
    margin-bottom: 80px;
}
p,h2{
    text-align: justify;
}
.shadow{
    box-shadow: 10px 10px 50px gray;
    border-radius: 20px;
    margin-top: 50px;
    padding-right: 30px;
}

body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#363958 ;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    .img{
        width: 350px;
        margin: 20px;
    }
    .first{
        width: 400px;
    }
    .gamil{
        font-size: 20px;
    }
    }

